/* nav {
    background-color: lightblue !important;
} */

/* #text-size {
    font-size: 35px;
    font-weight: bold;
} */




/* #submit-button:active {
  background-color:gray;
  /* box-shadow: 0 5px; */
  /* transform: translateY(4px);
} */ */


#date-input {
    text-transform: uppercase;
}

#individual-card {
    background-color:gray;
}
/* .footer-color {
    background-color:gray;
} */